<div class="container-fluid">
  <div class="navbar navbar-fixed-top bg-grey">
    <!-- go back to page list -->
    <a [routerLink]="['/user',userId,'website',websiteId, 'page']" class="navbar-brand myNavIconLeft text-black">
      <span class="glyphicon glyphicon-menu-left"></span>
    </a>
    <div class="navbar-brand myNavIconCenter text-black">Widget List</div>
    <!-- ok goes to widget chooser -->
    <a [routerLink]="['/user',userId,'website',websiteId, 'page',pageId, 'widget','new']" class="navbar-brand myNavIconRight text-black">
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </div>


  <div class="col-xs-12" *ngFor="let widget of widgets">

    <div [ngSwitch]="widget.type">
      <div *ngSwitchCase="'HEADING'">
        <li class="row list-group-item thmnail">
          <div class="icon-header">
            <!-- control heading size using ngstyle -->
            <h1 [ngStyle]="{'font-size': widget.size}">{{widget.text}}</h1>
          </div>
          <div class="icon-group">
            <a [routerLink]="['/user',userId,'website',websiteId, 'page',pageId, 'widget',widget._id,'heading']">
              <span class="glyphicon glyphicon-cog text-primary"></span>
            </a>
            <span class="glyphicon glyphicon-menu-hamburger" (click)="reorder(pageId, widget._id)"></span>
          </div>
        </li>
      </div>

      <div *ngSwitchCase="'IMAGE'">
        <div class="row  list-group-item tthumnail">
          <!-- TODO: image loading too slow -->
          <img [ngStyle]="{'width': widget.width}" class="img-responsive" [attr.src]="widget.url" alt="image" />
          <div class="icon-group">
            <a [routerLink]="['/user',userId,'website',websiteId,'page',pageId,'widget',widget._id,'image']">
              <span class="glyphicon glyphicon-cog text-primary"></span>
            </a>
            <span class="glyphicon glyphicon-menu-hamburger"  (click)="reorder(pageId, widget._id)"></span>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'YOUTUBE'">
        <div class="embed-responsive embed-responsive-16by9 thumnail row">
          <iframe class="embed-responsive-item" [attr.src]="widget.url" allowfullscreen></iframe>
          <div class="icon-group">
            <a [routerLink]="['/user',userId,'website',websiteId,'page',pageId,'widget',widget._id,'youtube']">
              <span class="glyphicon glyphicon-cog text-primary"></span>
            </a>
            <span class="glyphicon glyphicon-menu-hamburger " (click)="reorder(pageId, widget._id)"></span>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'HTML'">
        <li class="list-group-item thmnail row">
          <div>
            <!-- TODO: use angular sanitize module to render html strings -->
            {{widget.text}}
          </div>
          <div class="icon-group">
            <span class="glyphicon glyphicon-cog text-primary"></span>
            <span class="glyphicon glyphicon-menu-hamburger " (click)="reorder(pageId, widget._id)"></span>
          </div>
        </li>
      </div>

    </div>

  </div>
  <div class="navbar navbar-fixed-bottom bg-grey">
    <a href="" class="navbar-brand myNavIconLeft text-black">
      <span class="glyphicon glyphicon-play"></span>
    </a>
    <a href="" class="navbar-brand myNavIconCenter text-black">
      <span class="glyphicon glyphicon-eye-open"></span>
    </a>
    <!-- return to profile -->
    <a [routerLink]="['/user', userId]" class="navbar-brand myNavIconRight">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>