<div class="container-fluid">
  <div class="navbar navbar-fixed-top bg-primary text-white">
    <div class="navbar-brand">Profile</div>
    <a [routerLink]="['/user/01']" class="navbar-brand myNavIconRight">
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </div>

  <div *ngIf="errorFlag" class="alert alert-danger">
    {{errorMsg}}
  </div>

  <form (ngSubmit)="update()" #f="ngForm">
    <label>First Name</label>
    <input placeholder={{firstNamePh}} name="firstName" type="text" class="form-control" ngModel required #firstName="ngModel"
    />

    <label>Last Name</label>
    <input placeholder={{lastNamePh}} name="lastName" type="text" class="form-control" ngModel required #lastName="ngModel" />

    <label>User Name</label>
    <input placeholder={{usernamePh}} name="username" type="text" class="form-control" ngModel required #username="ngModel" />

    <label>Email</label>
    <input placeholder={{emailPh}} name="email" type="text" class="form-control" ngModel required #email="ngModel" />

    <button type="button" class="btn btn-block btn-primary" (click)="update()">Update Profile</button>
    <a [routerLink]="['/user',userId,'website']">
      <button type="button" class="btn btn-block btn-success">Websites</button>
    </a>
    <a [routerLink]="['/login']">
      <button type="button" class="btn btn-block btn-danger">Logout</button>
    </a>
  </form>

  <div class="navbar navbar-fixed-bottom bg-primary text-white">
    <a class="navbar-brand myNavIconRight">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>

</div>