<div class="container-fluid">
  <div class="navbar navbar-fixed-top bg-primary text-white">
    <div class="navbar-brand">Profile</div>
    <a [routerLink]="['/user/01']" class="navbar-brand myNavIconRight">
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </div>
  <form>
    <div class="form-group">
      <label>Username</label>
      <!-- use two-way data binding to bind user details with the form elements -->
      <input [(ngModel)]="username" name="username" id="username" type="text" class="form-control" placeholder={{username}}>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" placeholder="x@x.com">
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input [(ngModel)]="firstName" name="firstName" id="firstName" type="text" class="form-control" placeholder={{firstName}}>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input [(ngModel)]="lastName" name="lastName" id="lastName" type="text" class="form-control" placeholder={{lastName}}>
    </div>
    <p>
      <a [routerLink]="['/user/123/website']">
        <button type="button" class="btn btn-block btn-primary">Websites</button>
      </a>
    </p>
    <p>
      <a [routerLink]="['/login']">
        <button type="button" class="btn btn-block btn-danger">Logout</button>
      </a>
    </p>
  </form>
  <div class="navbar navbar-fixed-bottom bg-primary text-white">
    <a class="navbar-brand myNavIconRight">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>

</div>