<div class="container-fluid">
  <div class="navbar navbar-fixed-top bg-primary">
    <!-- left goes back to website list -->
    <a [routerLink]="['/user',userId,'website']" class="navbar-brand myNavIconLeft text-white">
      <span class="glyphicon glyphicon-menu-left"></span>
    </a>
    <div class="navbar-brand myNavIconCenter visibleIfLandscape text-white">Websites</div>
    <!-- have access to new website in landscape mode -->
    <a [routerLink]="['/user',userId,'website/new']" class="navbar-brand myNavIconCenter2 visibleIfLandscape text-white">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
    <div class="navbar-brand myNavIconCenter3 visibleIfLandscape text-white">Edit Websites</div>
    <div class="navbar-brand myNavIconCenter visibleIfPortrait text-white">Edit Websites</div>
    <!-- ok goes back to website list -->
    <div class="navbar-brand myNavIconRight text-white">
      <span class="glyphicon glyphicon-ok" (click)="update()"></span>
    </div>
 </div>
  <div class="grid-container">
    <div class="visibleIfLandscape side">
      <!-- have access to website lists if landscape -->
      <ul class="list-group bg-white text-primary" *ngFor="let website of websites">
        <li class="list-group-item">
          <a>{{website.name}}</a>
          <a [routerLink]="['/user',userId,'website',website._id]">
            <span class="glyphicon glyphicon-cog pull-right"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="main">
      <form #f="ngForm">
        <label>Name</label>
        <input placeholder={{namePh}} name="name" type="text" class="form-control" ngModel required #name="ngModel" />
        <!-- use local reference to the input field to display a errMsg -->
        <span class="help-block" *ngIf="!name.valid && name.touched">
          Please enter name!
        </span>
        <label>Description</label>
        <input placeholder={{descriptionPh}} name="description" type="text" class="form-control" ngModel required #description="ngModel"
        />
        <span class="help-block" *ngIf="!description.valid && description.touched">
          Please enter description!
        </span>

        <button type="button" class="btn btn-block btn-danger" (click)="delete()">Delete</button>
      </form>
    </div>
  </div>
  <div class="navbar navbar-fixed-bottom bg-primary text-white">
    <!-- delete the router as its not shown on the requirement -->
    <span class="glyphicon glyphicon-user"></span>
  </div>
</div>