<div class="container-fluid">
  <div class="navbar navbar-fixed-top bg-primary">
    <!-- left goes back to website list -->
    <a [routerLink]="['/user',userId,'website']" class="navbar-brand myNavIconLeft text-white">
      <span class="glyphicon glyphicon-menu-left"></span>
    </a>
    <div class="navbar-brand myNavIconCenter visibleIfLandscape text-white">Websites</div>
    <!-- have access to new website in landscape mode -->
    <a [routerLink]="['/user',userId,'website/new']" class="navbar-brand myNavIconCenter2 visibleIfLandscape text-white">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
    <div class="navbar-brand myNavIconCenter3 visibleIfLandscape text-white">Edit Websites</div>
    <div class="navbar-brand myNavIconCenter visibleIfPortrait text-white">Edit Websites</div>
    <!-- ok goes back to website list -->
    <a [routerLink]="['/user',userId,'website']" class="navbar-brand myNavIconRight text-white">
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </div>
  <div class="grid-container">
    <div class="visibleIfLandscape side">
      <!-- have access to website lists if landscape -->
      <ul class="list-group bg-white text-primary" *ngFor="let website of websites">
        <li class="list-group-item">
          <a>{{website.name}}</a>
          <a [routerLink]="['/user',userId,'website',website._id]">
            <span class="glyphicon glyphicon-cog pull-right"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="main">
      <form>
        <div class="form-group">
          <!-- edit this specific website -->
          <label>Website Name</label>
          <input [(ngModel)]="websitename" name="websitename" id="websitename" type="text" class="form-control" placeholder={{websitename}}>
        </div>
        <div class="form-group">
          <label>Website Description</label>
          <textarea [(ngModel)]="description" rows="5" name="description" id="description" type="text" class="form-control" placeholder={{description}}></textarea>
        </div>

        <p>
          <!-- deleting a specific website returns to website list -->
          <a [routerLink]="['/user',userId,'website']">
            <button type="button" class="btn btn-block btn-danger">Delete</button>
          </a>
        </p>
      </form>
    </div>
  </div>
  <div class="navbar navbar-fixed-bottom bg-primary text-white">
    <!-- delete the router as its not shown on the requirement -->
    <span class="glyphicon glyphicon-user"></span>
  </div>
</div>