<div class="container-fluid">
  <div class="navbar navbar-fixed-top bg-grey">
    <!-- return to page list -->
    <a [routerLink]="['/user',userId,'website',websiteId,'page']" class="navbar-brand myNavIconLeft text-black">
      <span class="glyphicon glyphicon-menu-left"></span>
    </a>
    <div class="navbar-brand myNavIconCenter text-black">New Page</div>
    <a [routerLink]="['/user',userId,'website',websiteId,'page']" class="navbar-brand myNavIconRight text-black">
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </div>

  <form>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" placeholder="Page Name">
    </div>
    <div class="form-group">
      <label>Page</label>
      <input type="text" class="form-control" placeholder="Page Title">
    </div>
  </form>
  <div class="navbar navbar-fixed-bottom bg-grey text-black">
      <span class="glyphicon glyphicon-user"></span>
  </div>
</div>