<div class="container-fluid">
  <div class="navbar navbar-fixed-top bg-grey">
    <!-- left return to page list -->
    <a [routerLink]="['/user',userId,'website',websiteId,'page']" class="navbar-brand myNavIconLeft text-black">
      <span class="glyphicon glyphicon-menu-left"></span>
    </a>
    <div class="navbar-brand myNavIconCenter text-black">Edit Page</div>
    <!-- ok return to page list -->
    <a [routerLink]="['/user',userId,'website',websiteId,'page']" class="navbar-brand myNavIconRight text-black">
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </div>

  <form>
    <div class="form-group">
      <label>Name</label>
      <input [(ngModel)]="pagename" name="pagename" id="pagename" type="text" class="form-control" placeholder={{pagename}}>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea [(ngModel)]="description" rows="5" name="description" id="description" type="text" class="form-control" placeholder={{description}}></textarea>
    </div>
  </form>
  <p>
    <!-- delete return to page list -->
    <a [routerLink]="['/user',userId,'website',websiteId,'page']">
      <button type="button" class="btn btn-block btn-danger">Delete</button>
    </a>
  </p>
  <div class="navbar navbar-fixed-bottom bg-grey text-black">
      <span class="glyphicon glyphicon-user"></span>
  </div>
</div>