<div class="container-fluid">
  <div class="navbar navbar-fixed-top bg-grey">
    <!-- left return to page list -->
    <a [routerLink]="['/user',userId,'website',websiteId,'page']" class="navbar-brand myNavIconLeft text-black">
      <span class="glyphicon glyphicon-menu-left"></span>
    </a>
    <div class="navbar-brand myNavIconCenter text-black">Edit Page</div>
    <!-- ok return to page list -->
    <div class="navbar-brand myNavIconRight text-white">
      <span class="glyphicon glyphicon-ok" (click)="update()"></span>
    </div>
  </div>
  <form #f="ngForm">
    <label>Name</label>
    <input placeholder={{namePh}} name="name" type="text" class="form-control" ngModel required #name="ngModel" />
    <!-- use local reference to the input field to display a errMsg -->
    <span class="help-block" *ngIf="!name.valid && name.touched">
      Please enter name!
    </span>
    <label>Description</label>
    <input placeholder={{descriptionPh}} name="description" type="text" class="form-control" ngModel required #description="ngModel"
    />
    <span class="help-block" *ngIf="!description.valid && description.touched">
      Please enter description!
    </span>

    <button type="button" class="btn btn-block btn-danger" (click)="delete()">Delete</button>
  </form>

  <div class="navbar navbar-fixed-bottom bg-grey text-black">
    <span class="glyphicon glyphicon-user"></span>
  </div>
</div>