<!-- <p>
  page-list works!
</p>
 -->
<div class="container-fluid">
  <div class="navbar navbar-fixed-top bg-grey">
    <a [routerLink]="['/user/01/website']" class="navbar-brand myNavIconLeft text-black">
      <span class="glyphicon glyphicon-menu-left"></span>
    </a>
    <a [routerLink]="['/user/01/website/02/page/03/widget']" class="navbar-brand myNavIconCenter text-black">Pages</a>
    <a [routerLink]="['/user/01/website/02/page/new']" class="navbar-brand myNavIconRight text-black">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </div>

  <ul class="list-group bg-white text-primary">
    <li class="list-group-item">
      <a>Blog post</a>
      <a [routerLink]="['/user/01/website/02/page/03']">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
    <li class="list-group-item">
      <a>Blogs</a>
      <a [routerLink]="['/user/01/website/02/page/03']">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
    <li class="list-group-item">
      <a>Home</a>
      <a [routerLink]="['/user/01/website/02/page/03']">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
    <li class="list-group-item">
      <a>About</a>
      <a [routerLink]="['/user/01/website/02/page/03']">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
    <li class="list-group-item">
      <a>Contact us</a>
      <a [routerLink]="['/user/01/website/02/page/03']">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
  </ul>
  <div class="navbar navbar-fixed-bottom bg-grey text-black">
    <a [routerLink]="['/user/01']" class="navbar-brand myNavIconRight">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>