<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags for making website for mobile -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="yes">
    <meta name="viewport" content="initial-scale=1.25, user-scalable=no">

    <meta charset="UTF-8">
    <title>Page-new</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="navbar navbar-fixed-top bg-grey">
            <a href="page-list.html" class="navbar-brand myNavIconLeft text-black"><span class="glyphicon glyphicon-menu-left"></span></a>
            <div class="navbar-brand myNavIconCenter text-black">New Page</div>
            <a href="page-new.html" class="navbar-brand myNavIconRight text-black"><span class="glyphicon glyphicon-ok"></span></a>
        </div>

        <form>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Page Name">
            </div>
            <div class="form-group">
                <label>Page</label>
                <input type="text" class="form-control" placeholder="Page Title">
            </div>
        </form>
        <div class="navbar navbar-fixed-bottom bg-grey text-black">
            <a href="../user/profile.html" class="navbar-brand myNavIconRight"><span class="glyphicon glyphicon-user"></span></a>
        </div>
    </div>
</body>

</html>