<div class="container-fluid">
  <div class="navbar navbar-fixed-top bg-grey">
    <!-- left goes back to widget list -->
    <a [routerLink]="['/user',userId,'website',websiteId,'page',pageId,'widget']" class="navbar-brand myNavIconLeft text-black">
      <span class="glyphicon glyphicon-menu-left"></span>
    </a>
    <div class="navbar-brand myNavIconCenter text-black">Widget Edit</div>
    <!-- ok goes back to widget list -->
    <div class="navbar-brand myNavIconRight text-white">
      <span class="glyphicon glyphicon-ok" (click)="update()"></span>
    </div>
 </div>


  <form #f="ngForm">
    <div class="form-group">
      <label>Type</label>
      <input [(ngModel)]="widgettype" name="widgettype" id="widgettype" type="text" class="form-control" placeholder={{typePh}}>
    </div>
    <div class="form-group">
      <label>Text</label>
      <input [(ngModel)]="widgettext" name="widgettext" id="widgettext" type="text" class="form-control" placeholder={{textPh}}>
    </div>
    <div class="form-group">
      <label>Size</label>
      <input [(ngModel)]="widgetsize" name="widgetsize" id="widgetsize" type="number" class="form-control" placeholder={{sizePh}}>
    </div>
  </form>
    <!-- delete goes back to widget list -->
    <a>
      <button type="button" (click)="delete()" class="btn btn-block btn-danger">Delete</button>
    </a>
  <div class="navbar navbar-fixed-bottom bg-grey text-black">
      <span class="glyphicon glyphicon-user"></span>
  </div>
</div>