<div class="container-fluid">
  <div class="navbar navbar-fixed-top bg-grey">
    <a [routerLink]="['/user',userId,'website',websiteId,'page',pageId,'widget']" class="navbar-brand myNavIconLeft text-black">
      <span class="glyphicon glyphicon-menu-left"></span>
    </a>
    <div class="navbar-brand myNavIconCenter text-black">Widget Edit</div>
    <div class="navbar-brand myNavIconRight text-white">
      <span class="glyphicon glyphicon-ok" (click)="update()"></span>
    </div>
  </div>
  <form #f="ngForm">
    <div class="form-group">
      <label>Type</label>
      <input [(ngModel)]="widgettype" name="widgettype" id="widgettype" type="text" class="form-control" placeholder={{typePh}}>
    </div>
    <div class="form-group">
      <label>URL</label>
      <input [(ngModel)]="widgeturl" name="widgeturl" id="widgeturl" type="text" class="form-control" placeholder={{urlPh}}>
    </div>
    <div class="form-group">
      <label>Width</label>
      <input [(ngModel)]="widgetwidth" name="widgetwidth" id="widgetwidth" type="text" class="form-control" placeholder={{widthPh}}>
    </div>
  </form>

  <a>
    <button type="button" (click)="delete()" class="btn btn-block btn-danger">Delete</button>
  </a>
  <div class="navbar navbar-fixed-bottom bg-grey text-black">
    <span class="glyphicon glyphicon-user"></span>
  </div>
</div>