<div class="container-fluid">
  <div class="navbar navbar-fixed-top bg-grey">
    <!-- left return to widget list -->
    <a [routerLink]="['/user',userId,'website',websiteId,'page',pageId,'widget']"  class="navbar-brand myNavIconLeft text-black">
      <span class="glyphicon glyphicon-menu-left"></span>
    </a>
    <div class="navbar-brand myNavIconCenter text-black">Widget Choose</div>
    <!-- ok return to widget list -->
    <a [routerLink]="['/user',userId,'website',websiteId,'page',pageId,'widget']"  class="navbar-brand myNavIconRight text-black">
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </div>

  <ul class="list-group bg-white text-primary">
    <li class="list-group-item">
      <!-- fix widget id for now -->
      <a [routerLink]="['/user',userId,'website',websiteId,'page',pageId,'widget/123/header']">Header</a>
    </li>
    <li class="list-group-item">
      <a>Label</a>
    </li>
    <li class="list-group-item">
      <a>HTML</a>
    </li>
    <li class="list-group-item">
      <a>Text input</a>
    </li>
    <li class="list-group-item">
      <a>Link</a>
    </li>
    <li class="list-group-item">
      <a>Button</a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="['/user',userId,'website',websiteId,'page',pageId,'widget/345/image']" >Image</a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="['/user',userId,'website',websiteId,'page',pageId,'widget/678/youtube']" >Youtube</a>
    </li>
    <li class="list-group-item">
      <a>Data table</a>
    </li>
    <li class="list-group-item">
      <a>Repeater</a>
    </li>
  </ul>
  <div class="navbar navbar-fixed-bottom bg-grey text-black">
      <span class="glyphicon glyphicon-user"></span>
  </div>
</div>