<div class="container-fluid">
  <div class="navbar navbar-fixed-top bg-primary ">
    <!-- always return to corresponding website so always needs to fetch the parameters above -->
    <a [routerLink]="['/user',userId,'website']" class="navbar-brand myNavIconLeft text-white">
      <span class="glyphicon glyphicon-menu-left"></span>
    </a>
    <div class="navbar-brand myNavIconCenter visibleIfLandscape text-white">Websites</div>
    <a [routerLink]="['/user',userId,'website']" class="navbar-brand myNavIconCenter2 visibleIfLandscape text-white">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
    <div class="navbar-brand myNavIconCenter3 visibleIfLandscape text-white">New Websites</div>
    <div class="navbar-brand myNavIconCenter visibleIfPortrait text-white">New Websites</div>
    <a [routerLink]="['/user',userId,'website']" class="navbar-brand myNavIconRight text-white">
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </div>
  <div class="grid-container">
    <div class="visibleIfLandscape side">
      <!-- have access to website lists if landscape -->
      <ul class="list-group bg-white text-primary" *ngFor="let website of websites">
        <li class="list-group-item">
          <a>{{website.name}}</a>
          <a [routerLink]="['/user',userId,'website',website._id]">
            <span class="glyphicon glyphicon-cog pull-right"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="main">
      <form>
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" placeholder="name">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" rows="5" placeholder="Description"></textarea>
        </div>
      </form>
    </div>
  </div>
  <div class="navbar navbar-fixed-bottom bg-primary text-white">
    <!-- delete the router as its not shown on the requirement -->
    <span class="glyphicon glyphicon-user"></span>
  </div>
</div>